{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Plastics Flask Web App</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pallets</h2>
        <ul>
            <li><a href="{{ url_for('palletsUpload') }}">Upload</a></li>
            <li><a href="{{ url_for('palletsStirrer') }}">Stirrer Assign</a></li>
            <li><a href="{{ url_for('palletsDelete') }}">View & Delete</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Sales Orders</h2>
        <ul>
            <li><a href="{{ url_for('salesorderUpload') }}">Upload</a></li>
            <li><a href="{{ url_for('salesorderDelete') }}">View & Delete</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Validation</h2>
        <ul>
            <li><a href="{{ url_for('validationPalletItem') }}">Pallet Item List</a></li>
        </ul>
    </div>
</div>

{% endblock %}
