{% extends "layout.html" %}

{% block content %}

<h2>Pallets - Upload</h2>

<form action="/pallets/upload" method="POST">
    <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}"/>

    <label for="PalletNumber">Pallet Number</label>
    <input type="text" name="PalletNumber" id="PalletNumber" pattern="0010895611002\d{7}" required/>

    {% if ItemList %}
        <label for="ItemNumber">Item Number</label>
        <select name="ItemNumber" id="ItemNumber">
            <option value="{{ItemList[0]['ItemNumber']}}" selected>{{ItemList[0]['ItemNumber']}}</option>
            {% for Item in ItemList[1:] %}
            <option value="{{Item['ItemNumber']}}">{{Item['ItemNumber']}}</option>
            {% endfor %}
        </select>
    {% endif %}

    <label>Case Barcode</label>

    <div class="row">
        {% for case in cases %}
        <div class="col-xs-2">
            <label for="case{{case}}" class = "hidden">case{{case}}</label>
            <input type="text" name="cases" id = "case{{case}}" pattern = "\d{1,10}"/>
        </div>
        {% endfor %}

    </div>

    <button style="display: none;" type="submit" id="submit-button">Not Shown</button>
    <button class="btn btn-primary" onClick="validate(this.form)">Upload</button>


    <hr>
    <label for="Shift">Shift</label>
    <select name="Shift" id="Shift">
        {% for Shift in ShiftList %}

            {% if Shift['Selected']|int() == 1 %}
                <option value="{{Shift['Shift']}}" selected>{{Shift['Shift']}}</option>
            {% endif %}

            {% if Shift['Selected']|int() == 0 %}
                <option value="{{Shift['Shift']}}">{{Shift['Shift']}}</option>
            {% endif %}

        {% endfor %}
    </select>
</form>

<div id="printarea">

    <div id="details">
        <p class="details-heading-text" id="print_PalletNumber"></p>
        <p class="details-heading-text" id="print_ItemNumber"></p>
        <p class="details-heading-text" id="print_Shift"></p>
        <p class="details-heading-text" id="print_Date"></p>
        <p class="details-heading-text" id="print_Time"></p>
        <hr/>
        {% for case in cases %}
        <p class="details-lines-text" id="print_case{{case}}"></p>
        <p class="details-lines-text">|</p>
        {% endfor %}
    </div>
    <div id="barcode">
        <img id="barcodeimage" src="">
    </div>

</div>



{% endblock %}\


{% block scripts %}

<link rel="stylesheet" type="text/css" href="/static/content/site.css" />

<script src="/static/scripts/custom/Enter_NoSubmit.js"></script>
<script src="/static/scripts/custom/validate_pallets_upload.js"></script>
<script src="/static/scripts/custom/utility/fetch_barcode.js"></script>
<script src="/static/scripts/custom/utility/fetch_validate_pallet_casecount.js"></script>
{% endblock %}



