{% extends "layout.html" %}

{% block content %}

<h2>Pallets - Range Assign</h2>

<form action="/pallets/range" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <label for="PalletNumber">Pallet Number</label>
    <input type="text" name="PalletNumber" id="PalletNumber" pattern="0010895611002\d{7}" required />


    <label for="ItemNumber">ItemNumber</label>
    <select id="ItemNumber" name="ItemNumber" method="GET" action="/">
        <option value="{{ItemList[0]['ItemNumber']}}" selected>{{ItemList[0]['ItemNumber']}}</option>
        {% for Item in ItemList[1:] %}
        <option value="{{Item['ItemNumber']}}">{{Item['ItemNumber']}}</option>
        {% endfor %}
    </select>

    <label for="StartCase">Enter Start Case</label>
    <input type="number" id="StartCase" name="StartCase" id="Start Case" required/>

    <label for="EndCase">Enter End Case</label>
    <input type="number" id="EndCase" name="EndCase" id="End Case" required/>

    <button style="display: none;" type="submit" id="submit-button">Not Shown</button>
    <button class="btn btn-primary" onClick="validate(this.form)">Upload</button>


    <hr>
    <label for="Shift">Shift</label>
    <select name="Shift" id="Shift">
        {% for Shift in ShiftList %}

            {% if Shift['Selected']|int() == 1 %}
                <option value="{{Shift['Shift']}}" selected>{{Shift['Shift']}}</option>
            {% endif %}

            {% if Shift['Selected']|int() == 0 %}
                <option value="{{Shift['Shift']}}">{{Shift['Shift']}}</option>
            {% endif %}

        {% endfor %}
    </select>
</form>

<div id="printarea">

    <div id="details">
        <p class="details-heading-text" id="print_PalletNumber"></p>
        <p class="details-heading-text" id="print_ItemNumber"></p>
        <p class="details-heading-text" id="print_Shift"></p>
        <p class="details-heading-text" id="print_Date"></p>
        <p class="details-heading-text" id="print_Time"></p>
        <hr/>
        <p class="details-lines-text" id="print_StartCase"></p>
        <p class="details-lines-text">|</p>
        <p class="details-lines-text" id="print_EndCase"></p>

    </div>
    <div id="barcode">
        <img id="barcodeimage" src="">
    </div>

</div>

{% endblock %}


{% block scripts %}
<script src="/static/scripts/custom/Enter_NoSubmit.js"></script>
<script src="/static/scripts/custom/validate_pallets_range.js"></script>
<script src="/static/scripts/custom/utility/fetch_validate_pallet_casecount.js"></script>
{% endblock %}





