{% extends "layout.html" %}

{% block content %}

<h2>Sales Order - WRIN Management</h2>

<form action="/salesorder/wrinlist" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <label for="Available">Available items to add to WRIN list</label>
    <select name="Available" id="Available">
        <option value="{{Availables[0]['ItemNumber']}}" selected>{{Availables[0]['ItemNumber']}}</option>
        {% for Available in Availables[1:] %}
        <option value="{{Available['ItemNumber']}}">{{Available['ItemNumber']}}</option>
        {% endfor %}
    </select>

    <label for="WRIN">WRIN</label>
    <input type="number" class="validate" name="WRIN" id="WRIN"/>

    <label for="GTIN">GTIN</label>
    <input type="number" class="validate" name="GTIN" id="GTIN"/>

    <button class="btn btn-primary" type="submit" name="submit_button" value="Add">Add</button>

    <hr />

    {% if not ExistingData %}
    <label for="Existing">Update or remove items from WRIN list</label>
    <select name="Existing" id="Existing">
        <option value="{{Existings[0]['ItemNumber']}}" selected>{{Existings[0]['ItemNumber']}}</option>
        {% for Existing in Existings[1:] %}
        <option value="{{Existing['ItemNumber']}}">{{Existing['ItemNumber']}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-primary" type="submit" name="submit_button" value="View">View</button>
    {% endif %}

    {% if ExistingData %}
    <label for="ExistingItemNumber">ItemNumber</label>
    <input type="text" class="validate" name="ExistingItemNumber" id="ExistingItemNumber" value="{{ExistingData['ItemNumber']}}" readonly/>

    <label for="ExistingWRIN">WRIN</label>
    <input type="number" class="validate" name="ExistingWRIN" id="ExistingWRIN" value="{{ExistingData['WRIN']}}"/>

    <label for="ExistingGTIN">GTIN</label>
    <input type="number" class="validate" name="ExistingGTIN" id="ExistingGTIN" value="{{ExistingData['GTIN']}}"/>

    <button class="btn btn-primary" type="submit" name="submit_button" value="Update">Update</button>
    <button class="btn btn-primary" type="submit" name="submit_button" value="Remove">Remove</button>
    {% endif %}

<form/>

{% endblock %}


{% block scripts %}
{% endblock %}





