{% extends "layout.html" %}

{% block content %}

<h2>Sales Order - View & Delete</h2>

<form action="/salesorder/delete" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    {% if orders %}
    <label for="SalesOrderNumber">Sales Order Number</label>
    <select name="SalesOrderNumber" id="SalesOrderNumber">
        {% for order in orders %}

            {% if order['SalesOrderNumber'] == Selected %}
                <option value="{{order['SalesOrderNumber']}}" selected>{{order['SalesOrderNumber']}}</option>
            {% endif %}

            {% if order['SalesOrderNumber'] != Selected %}
                <option value="{{order['SalesOrderNumber']}}">{{order['SalesOrderNumber']}}</option>
            {% endif %}

        {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit" name="submit_button" value="View">View</button>
    {% endif %}
    <hr />

    {% if orderDatas %}
    <table style="width:100%">
        <tr>
            <th>Sales Order number</th>
            <th>Pallet</th>
            <th>Quantity</th>
            <th>Timestamp</th>
            <th>Upload User</th>
        </tr>
        {% for orderData in orderDatas %}
        <tr>
            <td>{{orderData['SalesOrderNumber']}}</td>
            <td>{{orderData['Pallet']}}</td>
            <td>{{orderData['Quantity']}}</td>
            <td>{{orderData['Timestamp']}}</td>
            <td>{{orderData['UploadUsername']}}</td>

        </tr>
        {% endfor %}
    </table>
    <button class="btn btn-primary" type="submit" name="submit_button" value = "Delete">Delete</button>
    {% endif %}
</form>



{% endblock %}


{% block scripts %}
{% endblock %}



