{% extends "layout.html" %}

{% block content %}

<h2>Validation - Range Item List</h2>


<form action="/validation/rangeitem" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <label for="AddItem">Add to range assign pallet item list</label>
     <select name="AddItem" id="AddItem">
        <option value="{{Differences[0]['ItemNumber']}}" selected>{{Differences[0]['ItemNumber']}}</option>
        {% for Difference in Differences[1:] %}
        <option value="{{Difference['ItemNumber']}}">{{Difference['ItemNumber']}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-primary" type="submit" name="submit_button" value="Add">Add</button>

</form>

<form action="/validation/rangeitem" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <label for="MultiExistingItems">Remove from existing range assign pallet item list</label>
    <select multiple id="MultiExistingItems" name="MultiExistingItems" method="GET" action="/" size="15">
        <option value="{{RangeItems[0]['ItemNumber']}}" selected>{{RangeItems[0]['ItemNumber']}}</option>
        {% for RangeItem in RangeItems[1:] %}
        <option value="{{RangeItem['ItemNumber']}}">{{RangeItem['ItemNumber']}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-primary" type="submit" name="submit_button" value="Remove">Remove</button>

</form>



{% endblock %}


{% block scripts %}
<script src="/static/scripts/custom/Enter_NoSubmit.js"></script>
{% endblock %}




